<div class="main-container container">
  <div class="header-box">
    <button class="material-icons button-round" routerLink="">
      arrow_back
    </button>
    <div class="title-box">
      <div>
        <h1>{{ launch.mission_name }}</h1>
        <span
          class="chip-box-ok"
          *ngIf="launch.launch_success; else failChipTemplate"
          >Successful launch</span
        >
        <ng-template #failChipTemplate>
          <span class="chip-box-fail">Failed launch</span>
        </ng-template>
      </div>
      <h1>
        <span class="material-icons"> event </span>{{ launch.launch_year }}
      </h1>
    </div>
  </div>

  <hr />

  <div class="detail-section">
    <div class="side-box-left">
      <div class="card-box video-box">
        <iframe
          [src]="videoUrl | safe"
          class="video-box__iframe"
          allowfullscreen
        >
        </iframe>
      </div>
      <div class="card-box">
        <h3>Details:</h3>
        <p>{{ launch.details }}</p>
      </div>
    </div>
    <div class="card-box side-box-right">
      <h3 class="side-box-right--margin">
        {{ launch.rocket?.rocket_name }}
      </h3>
      <img
        [src]="
          launch.links && launch.links.mission_patch_small != null
            ? launch.links.mission_patch_small
            : imageNotFoundSrc
        "
        alt="asd"
        class="box__img-max-lenght side-box-right--margin"
      />
      <div class="side-box-right__details">
        <p class="side-box__text-bold">Launch Date</p>
        <p>{{ launch.launch_date_utc | date }}</p>
      </div>
      <div class="side-box-right__details side-box-right--margin">
        <p class="side-box__text-bold">Rocket type</p>
        <p>{{ launch.rocket?.rocket_type }}</p>
      </div>
      <button
        type="button"
        class="btn btn-primary button-size side-box-right--margin"
        data-bs-toggle="modal"
        data-bs-target="#launchModalEdit"
      >
        Edit
      </button>
    </div>
  </div>
  <br />

  <div
    class="modal fade"
    id="launchModalEdit"
    tabindex="-1"
    aria-labelledby="launchModalEditLabel"
    aria-hidden="true"
  >
    <app-launches-edit [flightNumber]="flightNumber"></app-launches-edit>
  </div>
</div>
