<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Launch Edit</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="formLaunchEdit" autocomplete="off" *ngIf="launchLoaded">
        <div class="mb-3">
          <label for="inputMission" class="form-label">Mission name</label>
          <input
            type="text"
            class="form-control"
            id="inputMission"
            formControlName="mission_name"
          />
        </div>
        <div class="mb-3">
          <label for="inputDate" class="form-label">Launch Date</label>
          <input
            type="date"
            class="form-control"
            id="inputDate"
            formControlName="launch_date_utc"
          />
        </div>

        <div class="mb-3">
          <label for="inputAreaDetails" class="form-label">Details</label>
          <textarea
            class="form-control"
            id="inputAreaDetails"
            rows="3"
            formControlName="details"
          ></textarea>
        </div>
        <div formGroupName="rocket">
          <div class="mb-3">
            <label for="inputRocket" class="form-label">Rocket name</label>
            <input
              type="text"
              class="form-control"
              id="inputRocket"
              formControlName="rocket_name"
            />
          </div>
          <div class="mb-3">
            <label for="inputRocketType" class="form-label">Rocket type</label>
            <input
              type="text"
              class="form-control"
              id="inputRocketType"
              formControlName="rocket_type"
            />
          </div>
        </div>
        

        <div class="mb-3">
          <div class="form-switch">
            <input
              class="form-check-input"
              type="checkbox"
              id="switchLaunch"
              formControlName="launch_success"
            />
            <label class="form-check-label" for="switchLaunch"
              >Successful launch</label
            >
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
        Close
      </button>
      <button type="button" class="btn btn-primary" (click)="updateLaunch()" data-bs-dismiss="modal">Save changes</button>
    </div>
  </div>
</div>
